<h2>{{ "Testing template variables, ngForOf " + title + getWebsite()}}</h2>
<h6>In this component we test differect Angular features</h6>
<ul class="list-group-item">
    <li *ngFor="let course of courses; index as i" class="list-item">
    {{ i }} - {{ course.name }}
    </li>
</ul>
<span (click)="onAdd()">Add anew course</span>
<ul class="list-group-item">
  <li *ngFor="let course of courses; even as isEven" class="list-item">
  {{ course.name }} - <span *ngIf="!isEven">EVEN</span>
  <button (click)="onRemove(course)">Remove </button>
  <button (click)="onChange(course)">Change</button>
  </li>
</ul>
<button (click)="loadCourses()">Testing TrackBy - Load Courses Button</button>
<ul>
    <li *ngFor="let courses of course; trackBy: trackCourse">
        {{ course.name }}
    </li>
</ul>
<div class="mb-2">
    <span class="p-2">Test custom directive implementation:</span>
    <input type="text" [appInputFormat]="'uppercase'"/>
</div>

<div *ngIf="courses.length > 0; else noCourses">
    Testing if..else statement: List of courses
</div>
<ng-template #noCourses>
    No couses yet!
</ng-template>
<app-create-course-form></app-create-course-form>

<app-new-course-form></app-new-course-form>
