<h6>Like Reusable component</h6>
<span class="fas fa-heart" [class.isActive]="isLiked" (click)="clickLoveButton()"> {{ likesCount }}</span>

<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode == 'map'" href="">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a  (click)="viewMode == 'list'" href="">like Component</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>
