<div class="p-3">
  <h1>
    Welcome to {{ post.title }}!
  </h1>


<app-navbar></app-navbar>
<router-outlet></router-outlet>


<!-- <app-bootstrap-panel>
<div class="heading">Heading</div>
    <ng-container class="body">Body</ng-container>
</app-bootstrap-panel> -->


<h6>Here are some external links: </h6>
<ul class="list-group-item">
  <li class="list-item">
  <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
  </li>
  <li class="list-item">
  <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
  </li>
  <li class="list-item">
  <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
  </li>
</ul>

</div>

