<div class="text-center">
  <h1>
    Welcome to {{ post.title }}!
  </h1>
    <app-authors></app-authors>
    <app-favorite [notFavorite]="post.notFavorite"  (change)="OnFavoriteChange($event)"></app-favorite>

    <app-bootstrap-panel>
      <div class="heading">Heading</div>
      <ng-container class="body">Body</ng-container>
    </app-bootstrap-panel>

    <app-courses></app-courses>
    <app-like-reusable 
      [likesCount]="tweet.likesCount"
      [isLiked]="tweet.isLiked">
    </app-like-reusable>
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
